root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false
indent_style = tab

[*.el]
indent_style = space
indent_size = 2

[*.{yaml,yml}]
indent_style = space
indent_size = 4

[*.yasnippet]
insert_final_newline = false


# Fixture files
[spec/fixtures/input/*.muse]
indent_style = space
indent_size = 2

[spec/fixtures/input/literal-{html,texinfo,xml}.muse]
indent_style = tab
indent_size = unset
