# Don't convert line-endings on Windows
/spec/fixtures/*/* binary

# Exclude from package distribution
*.sy         export-ignore linguist-language=RegExp
/spec        export-ignore
/.travis.yml export-ignore
