name: "Emacs Lisp"
scopeName: "source.emacs.lisp"
fileTypes: [
	"el"
	"elc"
	"spacemacs"
	"emacs"
	"emacs.desktop"
]
patterns: [include: "#main"]


repository:
	
	# Top-level patterns
	main:
		patterns: [
			{include: "#comment"}
			{include: "#expression"}
			{include: "#definition"}
			{include: "#string"}
			{include: "#quote"}
			{include: "#nil"}
		]
	
	
	# Comment-line
	comment:
		name: "comment.line.semicolon.emacs.lisp"
		begin: ";"
		end:   "$"
		beginCaptures:
			0: name: "punctuation.definition.comment.emacs.lisp"


	# Empty value
	nil:
		name: "constant.language.nil.emacs.lisp"
		match: "\\bnil\\b"


	# S-expression
	expression:
		name: "meta.expression.emacs.lisp"
		begin: "\\("
		end:   "\\)"
		beginCaptures: 0: name: "punctuation.section.expression.begin.emacs.lisp"
		endCaptures:   0: name: "punctuation.section.expression.end.emacs.lisp"
		patterns: [include: "$self"]

	
	# def* statement
	definition:
		name: "storage.type.function.$1.emacs.lisp"
		match: "\\b(defun|defadvice|defcustom|defvar)\\b"

	
	# "Double-quoted" string
	string:
		name: "string.quoted.double.emacs.lisp"
		begin: '"'
		end:   '"'
		beginCaptures: 0: name: "punctuation.definition.string.begin.emacs.lisp"
		endCaptures:   0: name: "punctuation.definition.string.end.emacs.lisp"
	

	# Argument-quoting
	quote:
		name: "keyword.control.quote.emacs.lisp"
		match: "\\bquote\\b"
