name: "Emacs Lisp"
scopeName: "source.emacs.lisp"
fileTypes: [
	"el"
	"elc"
	"spacemacs"
	"emacs"
	"emacs.desktop"
]
patterns: [include: "#main"]


repository:
	
	# Top-level patterns
	main:
		patterns: [
			{include: "#comment"}
			{include: "#lambda"}
			{include: "#expression"}
			{include: "#definition"}
			{include: "#operators"}
			{include: "#binding"}
			{include: "#keyword"}
			{include: "#string"}
			{include: "#number"}
			{include: "#quote"}
			{include: "#nil"}
		]
	
	
	# Binding
	binding:
		name: "storage.binding.emacs.lisp"
		match: "\\b(let|setq)\\b"
	
	
	# Comment-line
	comment:
		name: "comment.line.semicolon.emacs.lisp"
		begin: ";"
		end:   "$"
		beginCaptures:
			0: name: "punctuation.definition.comment.emacs.lisp"


	# def* statement
	definition:
		patterns: [{
			name: "storage.type.function.emacs.lisp"
			match: "\\bdefun\\b"
		},{
			name: "storage.type.$1.emacs.lisp"
			match: "\\b(?:(?:cl-)?def(advice|class|custom|face|group|package|struct|theme|type|var))\\b"
		},{
			name: "storage.type.$1.emacs.lisp"
			match: "\\b(define-(?:condition|widget))"
		}]


	# S-expression
	expression:
		patterns: [{
			name: "meta.expression.emacs.lisp"
			begin: "\\("
			end:   "\\)"
			beginCaptures: 0: name: "punctuation.section.expression.begin.emacs.lisp"
			endCaptures:   0: name: "punctuation.section.expression.end.emacs.lisp"
			patterns: [include: "$self"]
		},{
			name: "meta.quoted.expression.emacs.lisp"
			begin: "(\\')(\\()"
			end:   "\\)"
			beginCaptures:
				1: name: "punctuation.definition.symbol.emacs.lisp"
				2: name: "punctuation.section.quoted.expression.begin.emacs.lisp"
			endCaptures:
				0: name: "punctuation.section.quoted.expression.end.emacs.lisp"
			patterns: [include: "$self"]
		}]


	# :keywords
	keyword:
		name: "constant.keyword.emacs.lisp"
		match: "(:)[-\\w]+"
		captures:
			1: name: "punctuation.definition.keyword.emacs.lisp"


	# Lambda function
	lambda:
		name: "meta.lambda.expression.emacs.lisp"
		begin: "(\\()(lambda)\\s+"
		end:   "\\)"
		beginCaptures:
			1: name: "punctuation.section.expression.begin.emacs.lisp"
			2: name: "storage.type.lambda.function.emacs.lisp"
		endCaptures:
			0: name: "punctuation.section.expression.end.emacs.lisp"
		patterns: [{
			
			# Argument variables
			name: "meta.argument-list.lambda.expression.emacs.lisp"
			begin: "\\G\\s*(\\()"
			end:   "\\)"
			beginCaptures: 0: name: "punctuation.section.expression.begin.emacs.lisp"
			endCaptures:   0: name: "punctuation.section.expression.end.emacs.lisp"
			patterns: [
				{name: "variable.parameter.emacs.lisp", match: "[-\\w]+"}
				{include: "$self"}
			]
			
		}, include: "$self"]


	# Empty value
	nil:
		name: "constant.language.nil.emacs.lisp"
		match: "\\bnil\\b"


	# Numeric literals
	number:
		patterns: [
			{name: "constant.numeric.float.emacs.lisp",   match: "\\b\\d*\\.\\d+"}
			{name: "constant.numeric.integer.emacs.lisp", match: "\\b\\d+"}
		]
		

	# Operators
	operators:
		patterns: [{
			name: "keyword.operator.emacs.lisp"
			match: "\\b(funcall)\\b"
		},{
			name: "keyword.operator.numeric.emacs.lisp"
			match: "[-*+/]"
		}]


	# Argument-quoting
	quote:
		patterns: [{
			
			# (quote value)
			name: "keyword.control.quote.emacs.lisp"
			match: "\\bquote\\b"
		},{
			
			# 'value
			name: "string.quoted.other.emacs.lisp"
			match: "(')[-\\w]+"
			captures:
				1: name: "punctuation.definition.quote.emacs.lisp"
		}]

	
	# "Double-quoted" string
	string:
		name: "string.quoted.double.emacs.lisp"
		begin: '"'
		end:   '"'
		beginCaptures: 0: name: "punctuation.definition.string.begin.emacs.lisp"
		endCaptures:   0: name: "punctuation.definition.string.end.emacs.lisp"
		patterns: [
			match: '(\\\\).'
			name: "constant.character.escape.emacs.lisp"
			captures:
				1: name: "punctuation.escape.backslash.emacs.lisp"
		]
