".source.emacs.lisp":
	editor:
		commentStart: ";; "
	"bracket-matcher":
		autocompleteCharacters: ["()", "[]", "{}", '""', "“”", "‘’", "«»", "‹›"]

".text.muse":
	editor:
		commentStart: "; "

".source.yasnippet":
	editor:
		commentStart: "# "
	whitespace:
		ensureSingleTrailingNewline: false
